/*
Color for gold #B39D76
Color for icon Inside #61615F
Color for background #272727


*/

body{
    background: #272727;
    font-family: 'Abel', sans-serif;
    width: 100%;
}

h1{
    font-size: 3.5rem;
    color: #B39D76;
    text-align: center;
    margin-top: 3em;
    margin-bottom: 1em;
}
.container{
    background: #B39D76;
    width:450px;
    margin: auto;
    text-align: center;
    border-radius: 30px;
    border-color: #61615F;
    border-width: 5px;
    border-style: solid;
}


.labels{
    margin: auto;
    text-align: left; 
    width: 420px;
}
.container-score{
    margin-top: 40px; 
    
}
.far{
    color: #B39D76;
}

label{
    font-size: 2em;
    color: #B39D76;
    display: block;
   
}
button{
    width: 10em;
    height: 10em;
    border-radius: 50%;
    margin: 2em 1em;
    background: #61615F;
    border-color: #272727;
    border-width: 5px;
    padding: 0;
    outline: none;

}
button:hover{
    background: #272727;
    transition: all .4s ease;
    -webkit-transition: all .3s ease;

}